@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
/* Swiper Navigation Arrows Customization */
.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(0, 173, 181, 0.7); /* #00ADB5 with opacity */
  color: #eeeeee !important;
  width: 44px !important;
  height: 44px !important;
  border-radius: 50%;
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #00adb5;
  transform: scale(1.1);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px !important;
  font-weight: bold;
}